#timetable{
    width: 90%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    display: block;

    white-space: nowrap;

    border-collapse: collapse;
    border-radius: 1em;

    background-color: #F5F5DC;

    color: #F1524A;
}

#timetable > tbody {
    display: table;
    width: 100%;
}

#timetable tr:nth-child(even){
    background-color: #F1524A;
    color: #F5F5DC;
}

#timetable td:first-child{
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    font-weight: bold;
    text-align: left;
}