#timetable{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

    display: block;
    
    width: 92%;
    max-width: 92%;
    white-space: nowrap;
    overflow-x: auto;

    border-collapse: collapse;
    
    background-color: #F5F5DC;
}

#timetable > tbody {
    display: table;
    width: 100%;
}

#timetable tr:nth-child(even){
    background-color: #D0D0E2;
}

#timetable td:first-child{
    font-weight: bold;
    text-align: left;

    padding-left: 0.5em;
    padding-right: 0.5em;
}