#closeButton{
    z-index: 1050;
    width: 30px;
    height: 30px;

    position: absolute;

    top: 5px;
    left: 5px;

    background-color: #F1524A;
    border-radius: 50%;
    border: none;
    
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
}

#contenue{
    margin-left: 0.75em;
    margin-right: 0.75em;
    background-color: #F1524A;
    background-color: #121D28;
}





/* #container{
    display: flex;
    flex-direction: column; 
} */

#contenue {
    z-index: 1000;

    width: 70vw;
    
    margin-bottom: 1vh;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;

    margin-left: 15vw;
    margin-right: 15vw;
    overflow-y: scroll;
    position: absolute;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #121D28;
    opacity: 1;
    color: #FC7C52;

    font-weight: bold;
    font-size: 2.3vh; 

    top: 15%;
}


@media (orientation: landscape) {
    #contenue {
        font-size: 2.3vw; 

    }
  }