#placeInfo{
    z-index: 2;

    height: 100vh;

    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FFE800;
    opacity: 0.85;
}

/* The close button */
#placeInfo img:first-child{
    width: 30px;
    position: sticky;
    top: 15px;
    margin-left: 15px;
}

/*The titles */
#placeInfo .sectionTitle, #placeInfo h2{
    font-weight: bold;
    color: #0066FF;
}

#placeInfo h2{
    margin-bottom: 2vh;
    font-size : 2em;
}

#placeInfo .sectionTitle{
    margin-bottom: 1vh;
    font-size: 1.15em;
}