#infoDiv, #placeInfo{
    z-index: 2;
    width: 95%;

    background-color: #FFE800;
    opacity: 0.85;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0066FF;   
}

#placeInfo{
    margin-left: auto;
    margin-right: auto;

    max-height: 50vh;
    overflow-y: scroll;
}

#placeInfo div, #placeInfo table, #placeInfo > p:first-of-type{
    margin-left: auto;
    margin-right: auto;

    width: 92%;

    background-color: #F5F5DC;
}

/* The close button */
#placeInfo button:first-child{ 
    position: sticky;
    top: 2%;
    margin-left: 88%;
    
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    background-color: #0066FF;
    color: #FFFFFF;
    font-weight: bold;
}

/* The description */
#description{
    margin-bottom: 2%;

    text-align: left;
    color: #161515;
}

#placeInfo .sectionTitle{
    font-weight: bold;
    margin-bottom: 5px;
}