#menu {
    min-height: 100vh;
    width: 100vw;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #121D28;
    color: #F1524A;
}

#menu > h1{
    position: relative;
    top: 10vh;

    font-size: 2.5em;
}

#menu > h2{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;

    font-size: 2em;
}

#menu #options{
    margin-bottom: auto;
    margin-top: auto;
}

#menu button, #menu .game{
    width: 80%;
    min-height: 2.5em;
    height: max-content;

    margin: 1em;
    padding: 0.3em;

    overflow: hidden;

    border-radius: 1em;

    background-color: #546B7E;

    color: #F1524A;
    font-size: larger;
    font-weight: bold;  
}
#menu button:active{
    border: 3px solid #F1524A;
}

#menu #gamesList{
    margin-bottom: auto;
}

#menu #returnMenu{
    position: relative;
    bottom: 10vh;

    margin-left: auto;
    margin-right: auto;
}