#puzzle, #puzzleDiv, #puzzleInformations{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    margin: auto;
    background-color: #FFE800;
    height: 900px;
    width: 100%;
    z-index: 2;
    color: #00B2FF;
}


#closeButton{
    position: absolute;
    font-size: larger;
    border: 5px solid black;
    top: 1px;
    right: 1px;
    color: blue;
}
