#puzzle, #puzzleDiv, #puzzleInformations{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    margin: auto;
    background-color: #FFE800;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    color: #00B2FF;
}


#closeButton{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0066FF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}
