#description{
    width: 90%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;

    padding-top: 1px;
    padding-bottom: 1px;

    background-color: #F5F5DC;
    color: #F1524A;

    text-align: justify;
    border-radius: 1em;
}

#description p{
    margin-left: 0.75em;
    margin-right: 0.75em;
}

/* The lists */
#description ul{
    text-align: left;
    margin-top: -15px;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

#description li {
    list-style: square;
}