#contact{
   width: 90%;
   max-width: 90%;

   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1vh;

   padding-top: 4px;
   padding-bottom: 8px;

   background-color: #F5F5DC;

   text-align: left;
   color: #161515;
}

#contact p{
   line-height: 50px;
   display: inline;
}

#contact img{
   vertical-align: middle;
   margin-right: 0.5em;
   margin-left: 0.5em;
}

#contact a {
   text-decoration: none;
}
