#tutorial{
    z-index: 0;
    position:absolute; 

    width: 100%;
    height: 100vh;
}

#tutorial #closeButton{
    z-index: 400;

    position: absolute;
    top: 5px;
    left: 5px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: none;

    background-color: #F1524A;
    
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
}

#tutorial #explanation{
    z-index: 400;

    position: absolute;
    top: 10vh;

    width: 90%;
    max-width: 90%;

    margin-left: 0.5em;
    margin-right: 0.5em;

    padding: 0.5em;

    border-radius: 1em;

    background-color: #121D28;

    color: #F1524A;
    font-weight: bold;
    font-size: 1.4em;
}